:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-bg-color: #2f2f2f;
  --menu-bg-color: #e54b4b;
  --icon-fill: white;
}

html {
  height: 100%;
}

::selection {
  background-color: transparent;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: var(--primary-bg-color);
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
}

#library-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

#chapter-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: calc(100vh - 65px);
}

#chapter-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  min-width: fit-content;
  width: 100%;
}

#chapter-title-label {
  grid-column: 1 / 3;
  text-align: center;
}

.back-button {
  position: fixed;
  bottom: 10px;
  left: 15px;
  border: none;
  cursor: pointer;
}

.back-button > img {
  height: 20px;
  width: 20px;
}

#chapter-list .chapter-list-entry {
  text-align: center;
  margin: 1em;
  cursor: pointer;
  width: 100%;
}

#chapter-list .chapter-list-entry:hover {
  background-color: white;
}

.nav {
  background-color: #253c78;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
}

.nav > h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav > img {
  margin: 5px;
}

.cover-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
}

.shrink-on-hover {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.shrink-on-hover:hover,
.shrink-on-hover:focus,
.shrink-on-hover:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.cover-title {
  text-align: center;
}

.hidden {
  display: none !important;
}

#chapter-view-container {
  display: flex;
  height: 100%;
  max-height: calc(100vh - 42px);
  justify-content: space-between;
}

.chapter-img-wrapper {
  text-align: center;
  height: calc(100vh - 10%);
}

.chapter-img-wrapper > img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

#big-cover-wrapper {
}

#big-cover-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-basis: 30%;
}

.library-view-cover {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.library-view-cover-container {
}

.nav > a {
  margin-left: auto;
  margin-right: 0.5em;
  display: flex;
}

.slide-over-trans {
  transition: translate 0.3s ease-out;
}

.slide-over {
  translate: 30%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background-color: var(--menu-bg-color);
  position: fixed;
  height: 100%;
  text-align: center;
}

#scene-container {
  background-color: var(--primary-bg-color);
  box-shadow: 3px 0px black;
  height: 100%;
}

#mango-logo {
  cursor: pointer;
}

.menu-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid white;
  margin-bottom: 1em;
  min-width: 70%;
  max-width: 70%;
  white-space: nowrap;
  border-radius: 8px;
  font-size: 1.2rem;
  padding: 0.4em 1.2em 0.4em 1.2em;
  transition: background-color 0.7s ease, color 0.7s ease,
    transform 0.2s ease-in-out;
}

.menu-entry, .menu-entry > * {
  cursor: pointer;
}

.below {
  z-index: -1;
}

.menu-entry:hover {
  background-color: white;
  color: var(--menu-bg-color);
  transform: translateY(-5px);
  fill: var(--menu-bg-color);
}

#chapter-list-container,
#chapter-view-container,
#library-container {
  background-color: var(--primary-bg-color);
}

#menu-container {
  box-shadow: inset 0px 0px 8px 0px black;
}
